development:
  url: amqp://127.0.0.1
  subscriptions:
    - <%= (amqp_scope + '.') unless amqp_scope.nil? %><%= app_name %>.dev
production:
  url: amqp://127.0.0.1
  subscriptions:
    - <%= (amqp_scope + '.') unless amqp_scope.nil? %><%= app_name %>.prod
