development:
  host: 127.0.0.1
  subscriptions:
    - <%= (amqp_scope + '.') if amqp_scope %><%= app_name %>.dev
production:
  host: 127.0.0.1
  subscriptions:
    - <%= (amqp_scope + '.') if amqp_scope %><%= app_name %>.prod
